body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

header, main, aside {
    border: 1px solid white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #37306B, #9E4784);
}

aside {
    display: flex;
    justify-content: center;
    background: linear-gradient(#37306B, #9E4784);
    width: 20%; /* Updated width to 20% */
    padding: 30px;
    min-width: 20%; /* Updated min-width to 20% */
}

main {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: #101728;
    width: 90%; /* Updated width to 80% */
    justify-content: center; /* Added */
    align-items: center; /* Added */
    justify-content: space-around;
    
}

H1 {
    display: flex;
    padding-left: 12px;
}

nav {
    display: flex;
    gap: 2rem;
    color: white;  
    padding-right: 12px; 
}

img {
    display: flex;
    max-width: 100%;
    height: 30%;
    border-radius: 100%;
    margin-top: 32px;
    border: 3px solid #9E4784;
}

.titulo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 120%;
}

#linha {
    width: 100%;
    border-bottom: 4px solid white;
}

.subtitulo, .subtitulo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-top: 70px;
    border-radius: 100px;
    border: 3px solid purple;
    background-color: #6c1965;
    color: white;
    font-size: 150%;
}

main img {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 240px;
    border-radius: 20px;
    gap: 20px;
    margin: 0 10px;
    border-radius: 0;
    border: 0;
    justify-content: space-around;
}


   
.titulo-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 120%;


}

.centralizar{
    display: flex;
    max-width: 80%;
    
}


/* Media queries for tablet */
@media (max-width: 768px) {
    aside {
        width: 30%; /* Adjusted width for tablet */
        min-width: 30%; /* Adjusted min-width for tablet */
    }
}

/* Media queries for mobile */
@media (max-width: 480px) {
    aside {
            display: none;
    }
    main {
        width: 100%; /* Adjusted width for mobile */
        height: max-content;
    }
}
