body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: row;
    height: 100%;

}
header, main, aside {
    border: 1px solid white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #37306B, #9E4784);
}

aside {
    display: flex;
    justify-content: center;
    background: linear-gradient(#37306B, #9E4784);
    width: 20%; /* Updated width to 20% */
    padding: 30px;
    min-width: 20%; /* Updated min-width to 20% */
}

main {
    display: flex;
    color: white;
    background-color: #101728;
    width: 80%; /* Updated width to 80% */
    justify-content: center; /* Added */
    align-items: center; /* Added */
    flex-wrap: wrap;
}

H1 {
    display: flex;
    padding-left: 12px;
}

nav {
    display: flex;
    gap: 2rem;
    color: white;  
    padding-right: 12px; 
}

img {
    display: flex;
    max-width: 100%;
    height: 26%;
    border-radius: 100%;
    margin-top: 32px;
    border: 3px solid #9E4784;

}

.titulo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 120%;
}

#linha {
    width: 100%;
    border-bottom: 4px solid white;
}

.subtitulo, .subtitulo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-top: 70px;
    border-radius: 100px;
    border: 3px solid purple;
    background-color: #6c1965;
    color: white;
    font-size: 150%;
}

.serie1 {
    display: flex;
    margin-top: 5px;
    margin:0 10px;
    border-radius: 0;
    border: 0;
    max-width: 40vh;
    line-height: 20px;
    padding: 20px;
    justify-content: space-around;
   
    

}


.titulo-serie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-top: 0;

    
}

.serie2{
    display: flex;
    margin-top: 5px;
    margin:0 10px;
    border-radius: 0;
    border: 0;
    max-width: 40vh;
    line-height: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  

}





